<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StackOverFlow Search Jobs</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</head>

<body>
        <header>
            <nav class="nav">
                <a class="nav-link active">StackOverFlow {{ title }}</a>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    {{# each jobs }}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">
                        {{ this.title }}</h5>
                    <p class="card-text">
                        {{&this.description}}
                    </p>
                    <a class="card-link" href="{{ this.link }}">Read more</a>
                    </div>
                </div>
                    </div>
                {{/each}}
                </div>
            </div>            
            <footer>
                <div class="container">
               <div class="text-center">Job Search Made easy with <i class="material-icons">favorite</i>by API
               </div>
            </div>
            </footer>
        </main>
    
</body>
</html>